Utilities/Util_CsvFileAccess/bin

Utilities/Util_CsvFileAccess/obj

stroage.ide

.vs
AWGTestClient/bin/

AWGTestClient/obj/

AWGTestClient/新建文件夹/

AWGTestServer/bin/

AWGTestServer/obj/

Algorithm/Alg_ArrayFunctions/bin/

Algorithm/Alg_ArrayFunctions/obj/

Algorithm/Alg_DevFromPolyFit/bin/

Algorithm/Alg_DevFromPolyFit/obj/

Algorithm/Alg_PointSearch/bin/

Algorithm/Alg_PointSearch/obj/

Algorithm/Alg_PolyFit/bin/

Algorithm/Alg_PolyFit/obj/

Algorithm/Alg_PowConvert_dB/bin/

Algorithm/Alg_PowConvert_dB/obj/

Algorithm/AlgorithmException/bin/

Algorithm/AlgorithmException/obj/

Algorithm/BoundingIndices/bin/

Algorithm/BoundingIndices/obj/

Algorithm/LinearInterpolation/bin/

Algorithm/LinearInterpolation/obj/

DLL/

INIOperationClass/bin/

INIOperationClass/obj/

SocketClient/obj/

SocketServer/bin/

SocketServer/obj/

SqlFunctions/bin/

SqlFunctions/obj/

TestSystem\.DataBase/DataBase/bin/

TestSystem\.DataBase/DataBase/obj/

TestSystem\.DataBase/ExcelToSQL/obj/

TestSystem\.DataBase/TestDataRead/TestSystem\.DataRead/bin/

TestSystem\.DataBase/TestDataRead/TestSystem\.DataRead/obj/

Utilities/Util_ConfigUtils/bin/

Utilities/Util_ConfigUtils/obj/

Utilities/Util_FileManager/bin/

Utilities/Util_FileManager/obj/

Utilities/Util_ZipFiles/bin/

Utilities/Util_ZipFiles/obj/

Utilities/Util_CsvFileAccess/bin/

Utilities/Util_CsvFileAccess/obj/

Sql_Functions_PLC/

*.user

*.csproj

Utilities/
