<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="UC872Com" value="COM12"/>
    <add key="UC872Rate" value="115200"/>
    <add key="K8164BGPIB" value="20"/>
    <add key="N7786BGPIB" value="30"/>
    <add key="SocketIP" value="127.0.0.1"/>
    <add key="SocketPort" value="3000"/>
    </appSettings>
</configuration>