<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="UC872Com" value="COM12"/>
    <add key="UC872Rate" value="115200"/>
    <add key="PM1906Com1" value="COM18"/>
    <add key="PM1906Com2" value="COM19"/>    
    <add key="PM1906Com3" value="COM17"/>  
    <add key="PM1906Com4" value="COM16"/>
    <add key="PM1906Rate" value="921600"/>
    <add key="PowerMeterType" value="PM1906A"/>
    <add key="PM1906_Range" value ="Range3"/>
  </appSettings>
</configuration>