<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    <add key="DBIP" value="192.168.100.244"/>
    <add key="DBName" value="ENA_PLC_Production"/>
    <add key="DBUser" value="sa"/>
    <add key="DBPwd" value="123456789"/>
    <add key="RawDataPath" value="C:\DDisk\PLC Test Line\AWGTest\AWGTestSoftware_ PD\AWGTestServer\bin\Debug"/>
<add key="PNNameFormat" value="\d{4}-\d{5}-\d{3}"/>
	  <add key="WaferFormat" value="[A-Z]\d{5}-\d{1,2}"/>
	  <add key="ChipIDFormat" value="\d{4}"/>
	  <add key="MaskFormat" value="[T]\d{3}[A-Z]"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
